export DB_USERNAME=
export DB_PASSWORD=
export DB_NAME=
export DATABASE_URL=postgresql://{DB_USERNAME}:{DB_PASSWORD}@localhost:5432/{DB_NAME}
export AUTHOR_SERVICE_HOST_URL=http://localhost:8001/api/v1/authors/
